<a href="https://colab.research.google.com/github/anjelosamson/PLNG211-QC/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [ ]:
#Example of indentation
if 5>2:
  print("5 is greater than 2")

Variable

In [1]:
x = 1
a,b,=0,-1
a=9
c = "sally"
c = "danny"
print(a)
print(c)
c = "Maria"
print(c)

9
danny
Maria

Casting

In [2]:
d = int(4)
print(d)
e = float(4)
print(e)

4
4.0

In [3]:
d = 4.0
e = 4
print(type(d))
print(type(e))

<class 'float'>
<class 'int'>

Multiple Variables

In [4]:
f, g, h = "one", "two", "three"
print(f)
print(g)
print(h)

one
two
three

Single Quote and Double Quote

In [5]:
f="Maria"
print(f)
g = 'Ana'
print(g)

Maria
Ana

Output Variables

In [6]:
x = "enjoying"
y = "Python is"

print(y+" " + x)
print("Python is" + x)

Python is enjoying

Arithmetic

In [7]:
a = 4%2
print(a)
b = 7//4
print(b)

c = 3
print(c**2)

0
1
9

Assignment Operators

In [8]:
x = 1 
x+=1
print(x)

2

Logical Operator

In [9]:
q = 1
r = 4

q>r and r==r

False